<!-- filter -->
<!-- example template  -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="CustomerNumber">
        <div class="form-group">
            <input type="text" class="form-control" name="CustomerNumber" placeholder="Customer Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerName">
        <div class="form-group">
            <input type="text" class="form-control" name="CustomerName" placeholder="Customer Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="TradingAs">
    	<div class="form-group">
    		<input type="text" class="form-control" name="TradingAs" placeholder="Trading As">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountOwner.AccountNo">
        <div class="form-group">
            <input type="text" class="form-control" name="AccountOwner.AccountNo" placeholder="Account Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ABN">
    	<div class="form-group">
    		<input type="text" class="form-control" name="ABN" placeholder="ABN">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ACN">
        <div class="form-group">
            <input type="text" class="form-control" name="ACN" placeholder="ACN">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountOnwer.AccountOwnerID">
        <div class="form-group">
            <select class="form-control" name="AccountOnwer.AccountOwnerID">
                <option selected disabled>Account Owner</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="DateStarted">
    	<div class="form-group">
    		<input type="text" class="form-control" name="DateStarted" placeholder="DateStarted">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ListCustomerTag">
        <div class="form-group">
            <select class="form-control" name="ListCustomerTag">
            </select>
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PhoneNumber">
    	<div class="form-group">
    		<input type="text" class="form-control" name="PhoneNumber" placeholder="Phone Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="MobileNumber">
    	<div class="form-group">
    		<input type="text" class="form-control" name="MobileNumber" placeholder="Mobile Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="FaxNumber">
    	<div class="form-group">
    		<input type="text" class="form-control" name="FaxNumber" placeholder="Fax Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="AccountTerms">
    	<div class="form-group">
            <input type="text" class="form-control" name="AccountTerms" placeholder="Account Terms">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="CreditLimit">
    	<div class="form-group">
    		<input type="text" class="form-control" name="CreditLimit" placeholder="Credit Limit">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="InvoiceEmailAddress">
    	<div class="form-group">
    		<input type="text" class="form-control" name="InvoiceEmailAddress" placeholder="Invoice Email Address">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="FreightPayableBy">
    	<div class="form-group">
    		<input type="text" class="form-control" name="FreightPayableBy" placeholder="Freight Payable By">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PODEmailAddress">
    	<div class="form-group">
    		<input type="text" class="form-control" name="PODEmailAddress" placeholder="PODEmailAddress">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="IsActive">
        <div class="form-group">
            <select class="form-control" name="IsActive">
                  <option></option>
                  <option value="true">Active</option>
                  <option value="false">Not Active</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
        </div>
    </div>
</form>
