<div class="container-fluid	" style="background: url(img/ndas.jpg);height: 500px;background-size: cover;background-attachment: fixed;">
	<div class="row">
  	<div class="col-sm-auto mt-5 ml-5 mr-5 rounded" style="background: #ffffff6e;box-shadow: 0 2px 5px;">
  		<h1>Home sweat Home</h1>
  		<p>This is a template that is great for small businesses. <br>
  		It doesn't have too much fancy flare to it, <br>
  		but it makes a great use of the standard Bootstrap core components. <br>
  		Feel free to use this template for any project you want!</p>
  	</div>
  	</div>
</div>
<div id="about" class="container-fluid bg-primary p-5">
<div class="row">
  	<div class="col-sm-auto m-auto text-center text-white">
  		<p>This is a template that is great for small businesses. <br>
  		It doesn't have too much fancy flare to it, <br>
  		but it makes a great use of the standard Bootstrap core components. <br>
  		Feel free to use this template for any project you want!</p>
  	</div>
  	</div>
</div>
<div class="container-fluid bg-light p-5">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
                <div class="card-header"><h3 class="card-title">Card One</h3></div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.More Info</div>
                <div class="card-footer"><a class="btn btn-sm btn-primary" href="#">More info</a></div>
             </div>
		</div>
		<div class="col-md-3">
			<div class="card">
                <div class="card-header"><h3 class="card-title">Card One</h3></div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.More Info</div>
                <div class="card-footer"><a class="btn btn-sm btn-primary" href="#">More info</a></div>
             </div>
		</div>
		<div class="col-md-3">
			<div class="card">
                <div class="card-header"><h3 class="card-title">Card One</h3></div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.More Info</div>
                <div class="card-footer"><a class="btn btn-sm btn-primary" href="#">More info</a></div>
             </div>
		</div>
		<div class="col-md-3">
			<div class="card">
                <div class="card-header"><h3 class="card-title">Card One</h3></div>
                <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.More Info</div>
                <div class="card-footer"><a class="btn btn-sm btn-primary" href="#">More info</a></div>
             </div>
		</div>	
  	</div>
</div>