<div class="container">
            <a class="navbar-brand" href="#">You were crazy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="fa fa-home"></span> Home</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><span class="fa fa-user"></span> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"><span class="fa fa-phone"></span> Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Login"><span class="fa fa-sign-in"></span> Sign in</a>
                    </li>
                </ul>
            </div>
        </div>