<div class="container mt-5 " style="box-shadow: 0 2px 5px #1d0b0b;padding-bottom:20px;background: #ffffffc2;">
  <div class="row">
     <div class="col-lg-12 p-5">
        <div class="row">
       <h1 class="col-auto bg-dark px-4 text-white  rounded" style="transform:rotate(-2deg);"><span class="fa fa-dashboard"></span>  Dashboard</h1>
        </div>
     </div>
  </div>
  <div class="row mx-2">
   <div class="col-md-2 p-0 rounded mb-5" style="box-shadow: 0 2px 3px;max-height:163px;">
      <div class="col col-md-auto px-3 py-2 bg-light  rounded-top  link">
        <a href=""><span class="fa fa-dashboard"></span> Dashboard</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light link" style="border-top:1px solid #ccc;">
        <a href=""><span class="fa fa-tags"></span> posts</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light link" style="border-top:1px solid #ccc;">
        <a href=""><span class="fa fa-book"></span> Guest Book</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light rounded-bottom link" style="border-top:1px solid #ccc;">
        <a href=""><span class="fa fa-key"></span> Setting</a>
      </div>
    </div>