<div class="container mt-5">
  <div class="row">
      <div class="col col-md-4 pl-5 pr-5 pt-3 pb-2 m-auto" style="box-shadow: 0 2px 5px #1d0b0b;background: #ffffffc2;">
        <h4 class="border border-right-0 border-left-0 border-top-0 pb-2 ">Sign up</h4>
        <form class="p-2">
        <div class="row">
          <div class="col-md-12 mt-3">
            <input type="text" class="form-control rounded-0" name="Full_Name" placeholder="Enter full name">
          </div>
          <div class="col-md-12 mt-3">
            <input type="text" class="form-control rounded-0" name="Address" placeholder="Enter Address">
          </div>
          <div class="col-md-12 mt-3">
            <input type="text" class="form-control rounded-0" name="Contact" placeholder="Enter Contact">
          </div>
          <div class="col-md-12 mt-3">
            <input type="email" class="form-control rounded-0" name="Email" placeholder="Enter Email">
          </div>
          <div class="col-md-12 mt-3">
            <input type="text" class="form-control rounded-0" name="Username" placeholder="Enter Username">
          </div>
          <div class="col-md-12 mt-3">
            <input type="password" class="form-control rounded-0" name="Password" placeholder="Enter Password">
          </div>
          <input type="hidden" value="register" name="input">
          <div class="col-md-12 mt-3">
            <input type="submit" class="btn btn-outline-primary" value="Sign up">
          </div>
        </div>
        </form>
      </div>    
  </div>
</div>
<style>
body{background: url('img/ndas.jpg');background-size: cover;}</style>