<div class="container mt-5">
  <div class="row">
      <div class="col col-md-4 pl-5 pr-5 pt-3 pb-2 m-auto" style="box-shadow: 0 2px 5px #1d0b0b;background: #ffffffc2;">
        <h4 class="border border-right-0 border-left-0 border-top-0 pb-2 ">Sign in</h4>
        <form class="p-2">
        <div class="row">
          <div class="col-md-12 mt-3">
            <input type="text" class="form-control rounded-0" name="Username" placeholder="Enter username">
          </div>
          <div class="col-md-12 mt-3">
            <input type="password" class="form-control rounded-0" name="Password" placeholder="Enter password">
          </div>
          <div class="col-md-12 mt-3">
            <label><input type="checkbox" name="cookies"> remember me ?</label>
          </div>
          <div class="col-md-12 mt-1">
            <p>do not have account ? sign up <a href="#Register">here</a></p>
          </div>
          <div class="col-md-12 mt-1">
            <input type="hidden" value="login" name="input">
            <input type="submit" class="btn btn-outline-primary" value="Sign in">
          </div>
        </div>
        </form>
      </div>    
  </div>
</div>
<style>
body{background: url('img/ndas.jpg');background-size: cover;}</style>