
</div>
</div>
<style>
body{background: url('img/ndas.jpg');background-size: cover;} .link:hover{background:#343a40!important; transition:all 0.8s ease;}
input:focus, textarea:focus {
    outline: none!important;
    border: none!important;
    box-shadow: 0 0 0 !important;
    transition:all 0.8s ease;
}
</style>