<div class="container mt-5 " style="box-shadow: 0 2px 5px #1d0b0b;padding-bottom:20px;background: #ffffffc2;">
  <div class="row">
     <div class="col-lg-12 p-5">
        <div class="row">
       <h1 class="col-auto bg-dark px-4 text-white  rounded" style="transform:rotate(-2deg);"><span class="fa fa-dashboard"></span>  Dashboard</h1>
        </div>
     </div>
  </div>
  <div class="row mx-2">
    <div class="col-md-2 p-0 rounded mb-5" style="box-shadow: 0 2px 3px;max-height:163px;">
      <div class="col col-md-auto px-3 py-2 bg-light  rounded-top  link">
        <a href="#Dashboards"><span class="fa fa-dashboard"></span> Dashboard</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light link" style="border-top:1px solid #ccc;">
        <a href="#Post"><span class="fa fa-tags"></span> posts</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light link" style="border-top:1px solid #ccc;">
        <a href="#Guest_book"><span class="fa fa-book"></span> Guest Book</a>
      </div>
      <div class="col col-md-auto px-3 py-2 bg-light rounded-bottom link" style="border-top:1px solid #ccc;">
        <a href="#Setting"><span class="fa fa-key"></span> Setting</a>
      </div>
  </div>
   <div class="col-md-7 mx-auto rounded border pb-2" style="box-shadow: inset 0 1px 2px 1px #999;">
      <div class="row">
          <div class="col-md-6 mt-4 ml-4 mr-4 px-2 py-1  rounded border" style="box-shadow: inset 0 1px 2px 1px #999;">
          <div class="row">
              <h6 class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded">Guest Book</h6>
            </div>
          </div>
           <div class="col-sm-2 mt-4 ml-5 mr-5 px-2 py-1  rounded border" style="box-shadow: inset 0 1px 2px 1px #999;">
          <div class="row">
              <h6 class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded"> <a href="#detailBook">View</a> <span class="fa fa-eye"></span></h6>  
            </div>
          </div>
          <div class="col-md-11 mt-4 ml-4 mr-4 px-2 py-1  rounded border">
            <form>
              <div class="row mb-2">
                  <div class="col-sm-3"><label class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded">Nama</label></div>
                  <div class="col-sm-9"><input type="text" class="form-control bg-transparent" name="Name" placeholder="Enter name" style="border-bottom: 2px solid;"></div>
              </div>
              <div class="row mb-2">
                  <div class="col-sm-3"><label class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded">Email</label></div>
                  <div class="col-sm-9"><input type="email" class="form-control bg-transparent" name="Email" placeholder="Enter email" style="border-bottom: 2px solid;"></div>
              </div>
              <div class="row mb-2">
                  <div class="col-sm-3"><label class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded">Address</label></div>
                  <div class="col-sm-9"><input type="text" class="form-control bg-transparent" name="Address" placeholder="Enter Address" style="border-bottom: 2px solid;"></div>
              </div>
              <div class="row mb-2">
                  <div class="col-sm-3"><label class="col-auto ml-3 p-1 mt-1 bg-dark text-white rounded">Message</label></div>
                  <div class="col-sm-9"><textarea class="form-control bg-transparent" style="border-bottom: 2px solid;" name="Message" placeholder="Enter Message"></textarea></div>
              </div>
               <div class="row mb-2"><input type="hidden" name="update" value="">
                  <div class="col-sm-3">&nbsp; </div>
                  <div class="col-sm-9"><input class="btn btn-outline-dark" type="submit" value="Submit" /></div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<style>
body{background: url('img/ndas.jpg');background-size: cover;} .link:hover{background:#343a40!important; transition:all 0.8s ease;}
input:focus, textarea:focus {
    outline: none!important;
    border: none!important;
    box-shadow: 0 0 0 !important;
    transition:all 0.8s ease;
}
</style>